<!DOCTYPE html>
<html>
    <head>
        <title>MustdolistApp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/main.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type=text/javascript>
			$(document).on('click', '[id^="btn_"]', function() {
                $.ajax({
                    url: '/addUpdateLike',
                    method: 'POST',
                    data: {
                        bucket_item: $(this).attr('id').split('_')[1],
                        like: 1
                    },
                    success: function(response) {
                        console.log(response);
                        var obj = JSON.parse(response);
                        
                        if(obj.total == "0"){
                            $('#sp_' + obj.spId).html('&nbsp; ' + obj.total + ' like(s)');
                        }else{
                            $('#sp_' + obj.spId).html('&nbsp;You & ' + (Number(obj.total) - 1) + ' Others');
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
		</script>
        

    </head>
    
    <body>
        
        <div class="container-narrow">
           <ul class="nav nav-pills pull-right">
              {% if current_user.is_authenticated() %}
                  <li class="active"><a href="/welcome">Home</a></li>
                  <li><a href="/addItem">Add Item</a></li>
                  <li><a href="/logout">Logout</a></li>
              {% else %}
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/login">Sign In</a></li>
                  <li><a href="/register">Sign Up</a></li>
              {% endif %}
            </ul>
            <h3><span class="glyphicon glyphicon-asterisk" style="color:#5cb85c"></span> MustdolistApp</h3>

            <hr>
            <!-- child template -->
            {% block content %}
            
            {% endblock %}
            
            <!-- errors -->
            {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
            
            <!-- messages -->
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
        </div>
    </body>
</html>