{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <legend> Are you sure you want to delete {{bucketitem.title}}? </legend>
        <form role="form" action="" method="post">
                {{ form.csrf_token }}
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <a href = '{{url_for('home.welcome')}}'> Cancel </a>
                    </div>
                </div>
        </form><br>
        
    </div>
    <footer class="footer">
        <p>&copy; Company 2016</p>
    </footer>
{% endblock %}