{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <legend>Create Your BucketList Item </legend>
        <form role="form" action="" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-group row">
              <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
              
              <div class="col-sm-10">
                {{form.title(id="inputTitle", placeholder="title",class="form-control") }}
                <span class="error">
                  {% if form.title.errors %}
                    {% for error in form.title.errors %}
                      {{ error }}
                    {% endfor %}
                  {% endif %}
                </span>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
              
              <div class="col-sm-10">
                {{form.description(id="inputDescription", placeholder="description",class="form-control") }}
                <span class="error">
                  {% if form.description.errors %}
                    {% for error in form.description.errors %}
                      {{ error }}
                    {% endfor %}
                  {% endif %}
                </span>
              </div>
            </div>
            <div class="form-group row">
              <label for="browsebutton" class="col-sm-2 col-form-label">Upload Photo</label>
              
              <div class="col-sm-10">
                {{form.photo(id="browsebutton",placeholder="photos", class="custom-file-control") }}
                
              </div>
            </div>
            <div class="form-group row">
                <label for="inputprivate" class="col-sm-2">Mark as private</label>
                <div class="col-sm-2">
                    <div class="form-check">
                      <label class="form-check-label">
                        {{form.private(id="inputprivate") }}
                      </label>
                    </div>
                  </div>
            </div>
            <div class="form-group row">
                <label for="inputaccomplished" class="col-sm-2">Mark as accomplished</label>
                <div class="col-sm-2">
                    <div class="form-check">
                      <label class="form-check-label">
                        {{form.done(id="inputaccomplished") }}
                      </label>
                    </div>
                  </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Publish</button>
              </div>
            </div>
        </form>
            
    </div>
    <footer class="footer">
        <p>&copy; Company 2016</p>
    </footer>
 {% endblock %}